<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Turno</title>
</head>
<body>
    <h1>Asignar Turno</h1>
    <p>Asignar turno a la cédula encontrada.</p>
    <form action="{% url 'mostrar_turno' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="tipo_turno" value="Caja">
        <input type="submit" value="Caja">
    </form>
    <form action="{% url 'mostrar_turno' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="tipo_turno" value="Asesor">
        <input type="submit" value="Asesor">
    </form>
    <form action="{% url 'mostrar_turno' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="tipo_turno" value="Gerencia">
        <input type="submit" value="Gerencia">
    </form>
</body>
</html>
