<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>los turnos guardados son:</title>
</head>
<body>
    <div>
        <h2>Turnos de Caja</h2>
        <table>
            <thead>
                <tr>
                    <th>Turno</th>
                    <th>Cedula</th>
                </tr>
            </thead>
        </table>
    </div>
    <div>
        <h2>Turnos de Asesor</h2>
        <table>
            <tbody>
                <tr>
                    <th>Turno</th>
                    <th>Cedula</th>
                </tr>
        </table>
    </div>
    <div>
        <h2>Turnos de Asesor</h2>
        <table>
            <tbody>
                <tr>
                    <th>Turno</th>
                    <th>Cedula</th>
                </tr>
        </table>
    </div>
        <h2>Turnos de Gerencia</h2>
        <table>
            <tbody>
                <tr>
                    <th>Turno</th>
                    <th>Cedula</th>
                </tr>
        </table>
    </div>
</body>
</html>